<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Echoes of Elarion{% endblock %}</title>
</head>

<body>

    <header>
        <h1>Echoes of Elarion</h1>

         {% if request.session.player_name %}
        <p>
            Adventurer: {{ request.session.player_name }}
            | XP: {{ request.session.xp }}
        </p>
        {% endif %}

        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'lore' %}">Explore Lore</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Echoes of Elarion</p>
    </footer>

</body>
</html>