# Python virtual environment
echoes/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables and secrets
.env
.env.*

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/